<html>
  <head>
    <title>Restaraunt List</title>
  </head>
  <body>
    <h1>{{ cuisine.getCuisineName }}</h1>

    {% if restaraunts is not empty %}
    <p>Here are all your restaraunts</p>
    <ul>
        {% for restaraunt in restaraunts %}
             <li><a href = "/restaraunts/{{ restaraunt.getId }}">{{ restaraunt.getRestarauntName }}</a></li>
             <ul>
                 <li>{{ restaraunt.getAddress }}</li>
                 <li>{{ restaraunt.getHours }}</li>
                 <li>{{ restaraunt.getMenu }}</li>
            </ul>
        {% endfor %}
    </ul>

    {% else %}
        <p>There are no restaraunts yet!</p>
    {% endif %}

    <h4>Add a restaraunt</h4>

    <form action='/restaraunts' method='post'>
        <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId() }}">

        <label for='RestarauntName'>restaraunt name</label>
        <input id='RestarauntName' name='RestarauntName' type='text'>

        <label for='address'>address</label>
        <input id='address' name='address' type='text'>

        <label for='hours'>hours</label>
        <input id='hours' name='hours' type='text'>

        <label for='menu'>menu</label>
        <input id='menu' name='menu' type='text'>

        <button type='submit'>Add restaraunt</button>
    </form>

    <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>

    <p><a href='/'>Home</a></p>

  </body>
</html>
